<div>
    <button ng-click="$ctrl.onFilterChanged({name:'status', value:'ACTIVE'})">
        Active
    </button>
    <button ng-click="$ctrl.onFilterChanged({name:'status', value:'CLOSED'})">
        Closed
    </button>
    <button ng-click="$ctrl.onFilterChanged({name:'status', value:'ANY'})">
        Any
    </button>
</div>

<div style="padding-top: 4px; padding-bottom: 4px;">
    <div>
        Client
        <dropdown items="$ctrl.clients" 
                  on-selected="$ctrl.onFilterChanged({name:'client', value:item})"></dropdown>
    </div>
    <div>
        Symbol
        <dropdown items="$ctrl.symbols" 
                  on-selected="$ctrl.onFilterChanged({name:'symbol', value:item})"></dropdown>
    </div>
    <div>
        Basket        
        <dropdown items="$ctrl.baskets" 
                  on-selected="$ctrl.onFilterChanged({name:'basket', value:item})"></dropdown>
    </div>
    <div>
        Desk        
        <dropdown items="$ctrl.desks" 
                  on-selected="$ctrl.onFilterChanged({name:'desk', value:item})"></dropdown>
    </div>
</div>

<div>
    <button ng-click="$ctrl.onFilterChanged({name:'startDate', value:'01-02-2017'})">
        Set start date to 01-02-2017
    </button>
    <button ng-click="$ctrl.onFilterChanged({name:'endDate', value:'18-02-2017'})">
        Set end date to 18-02-2017
    </button>
</div>

<button ng-click="$ctrl.onFilterChanged(null)">
    Clear filters
</button>