<div class="container">
    <div class="row">
    
        <div class="col-md-3">
            <filter on-filter-changed="$ctrl.onFilterChanged(name, value)"></filter>
        </div>
        
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#orders">Orders</a></li>
                <li><a data-toggle="tab" href="#routes">Routes</a></li>
                <li><a data-toggle="tab" href="#fills">Fills</a></li>
            </ul>

            <div class="tab-content">
                <div id="orders" class="tab-pane fade in active">
                    <orders></orders>
                </div>
                <div id="routes" class="tab-pane fade">
                    <routes></routes>
                </div>
                <div id="fills" class="tab-pane fade">
                    <fills></fills>
                </div>
            </div>
        </div>    
            
    </div>
</div>