<div class="container">
    <div class="row">
    
        <div class="col-md-3">
            <filter on-filter-changed="$ctrl.onFilterChanged(name, value)"></filter>
        </div>
        
        <div class="col-md-9">
            <div>
                <a ng-click="$ctrl.show('orders')">Orders</a>
                <a ng-click="$ctrl.show('routes')">Routes</a>
                <a ng-click="$ctrl.show('fills')">Fills</a>
            </div>
            <div ui-view></div>
        </div>    
            
    </div>
</div>