<div class="container">
    <div class="row">
    
        <div class="col-md-3">
            <filter on-filter-changed="$ctrl.onFilterChanged(name, value)"></filter>
        </div>
        
        <div class="col-md-9">
            <div>
                <a ui-sref='auth.monitor.orders'>Orders</a>
                <a ui-sref='auth.monitor.routes'>Routes</a>
                <a ui-sref='auth.monitor.fills'>Fills</a>
            </div>
            <div ui-view></div>
        </div>    
            
    </div>
</div>